body {
	background-color: #252525;
	color: #f0f0f0;
}

@keyframes runaway {
	from {margin: 0;}
	to {margin: 100px;}
}

h1 {
	font-size: 48px;
}

ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li a {
	text-decoration: none;
}

.horizontal-list li {
	display: inline;
}

nav li a {
	padding: 8px 16px;
	color: #212121;
}

nav li a:hover {
	background-color: #555;
	color: white;
}

#main-navigation {
	background-color: #e2e0e9;
	color: #eeeeee;
	font-size: 16pt;
}

.button {
	background-color: #2fbb32;
	border-radius: 50%;
	color: #ffffff;
	border: none;
	outline: 0;
	text-align: center;
	text-decoration: none;
	height: 48px;
	width: 48px;
	box-shadow: initial;
	font-weight: bold;
}

.button:hover {
	background-color: #5e6;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	-webkit-animation: runaway 1s;
	-o-animation: runaway 1s;
	animation: runaway 1s;
}

.button:active {
	background-color: #4d5;
}