body {
	background-color: #252525;
	color: #f0f0f0;
}

h1 {
	font-size: 48px;
}

ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li a {
	text-decoration: none;
}

.horizontal-list li {
	display: inline;
}

nav li a {
	padding: 8px 16px;
	color: #212121;
}

nav li a:hover {
	background-color: #555;
	color: white;
}

#main-navigation {
	background-color: #e2e0e9;
	color: #eeeeee;
	font-size: 16pt;
}

.button {
	background-color: #2fbb32;
	border: none;
	color: white;
	padding: 36px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	outline: 0;
}

.button:hover {
	background-color: #5e6;
	color: #f0f0f0;
	border-radius: 16px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

.button:active {
	background-color: #4d5;
	color: #f0f0f0;
	border-radius: 50%;
}