body {
	background-color: #f0f0f5;
	color: #202020;
	margin: 0;
	padding: 0;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

h1 {
	font-size: 48px;
	margin-left: 48px;
	margin-right: 48px;
}

ul {
	list-style-type: none; 
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

li a {
	text-decoration: none;
}

.horizontal-list li {
	display: inline-block;
}

nav li a {
	padding: 8px 16px;
	color: #555555;
	text-align: center;
	display: block;
}

nav li a:hover {
	background-color: #eeeeee;
	color: #000000;
}

#main-navigation {
	background-color: #f9f9f9;
	color: #eeeeee;
	font-size: 16pt;
	margin-bottom: 48px;
}

#main-content {
	margin: 16px;
	position: relative;
}

.button {
	border: none;
	outline: 0;
	text-decoration: none;
	display: block;
}

.button:hover {
}

.button:active {
}

.fab .material-icons {
	padding: 16px 16px;
}

.fab {
	height: 56px;
	width: 56px;
	background-color: #2fbb32;
	border-radius: 50%;
	color: #ffffff;
	margin: 16px;
	box-shadow: 0px 4px 8px rgba(0,0,0,.36);
}

.fab:hover {
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	box-shadow: 0px 12px 12px rgba(0,0,0,.26);
	cursor: pointer;
}

.fab:active {
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	box-shadow: 0px 12px 16px rgba(0,0,0,.26);
}

article {
	position: absolute;
	left: 0px;
	right: 0px;
	z-index: 1;
}

article ~ .fab {
	position: absolute;
	z-index: 2;
	right: 0px;
}

