/* Style for screens less than 500px in width */

body > div {
	margin: 64px 0;
}

p, li {
	line-height: 20pt;
	font-size: 14pt;
}

h1 {
	font-size: 36pt;
	margin-bottom: 8px;
}

h2 {
	font-size: 16pt;
	margin: 16px 16px;
}

h3 {
	font-size: 16pt;
}

.button-add {
	font-size: 14pt;
}

.button-container {
	margin-top: 16px;
	margin-bottom: 16px;
}

/* HOWTO SECTION */

#section-howto > .howto-title {
	font-size: 20pt;
}

#section-howto .howto-question {
	font-size: 14pt;
	line-height: 18pt;
}

/* FEATURES SECTION */

#section-features h2 {
	font-size: 24pt;
	margin-bottom: 32px;
}

#section-features > div {
	padding: 0 16px;
}

#section-features .feature-description {
	font-size: 12pt;
}

#section-features .feature-header {
	display: block;
}

#section-features .feature-header::after {
	height: 6px;
	bottom: -2px;
	left: -2%;
	right: -2%;
}

/* SCREENSHOTS SECTION */

#section-screenshots .slides > .slide-container {
	padding: 0;
}

#section-screenshots .slide-container > .slide {
	padding: 0;
	border-radius: 0;
	box-shadow: none;
}

#section-screenshots .slides > .buttons {
	display: block;
	position: relative;
	bottom: unset;
	left: unset;
	margin: 0 auto;
	padding: 8px 0;
	width: 100%;
}

#section-screenshots .button-dot {
	background: transparent;
}

/*  Old style */

.mid-width {
	padding: 0 8px;
}

.card {
	padding: 16px;
	border-radius: 4px;
}

.credits {
	padding: 16px 0;
}

.random-quacks > .quack {
	font-size: 48pt;
}

@media only screen and (max-height: 500px) {

	body > div {
		margin: 32px 0;
	}

}

@media only screen and (max-width: 360px) {
	
	p, li {
		line-height: 18pt;
		font-size: 12pt;
	}

	h1 {
		font-size: 28pt;
	}
}