@keyframes flipper {
	0% {
		transform: rotateX(0);
		-webkit-transform: rotateX(0);
	}
	100% {
		transform: rotateX(360deg);
		-webkit-transform: rotateX(360deg);
	}
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
}

/* entire container, keeps perspective */
.flip-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	perspective: 1000px;
}

/* flip speed goes here */
.flipper {
	transition: .4s;
	transform-style: preserve-3d;
	position: relative;
	transform-origin: 100% 25px;
}


.flip-container, .front, .back {
	width: 400px;
	height: 50px;
	border-radius: 4px;
	transform-origin: 100% 25px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	cursor: pointer;
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	background-color: #245633;
	z-index: 2;
	color: #ffffff;
	/* for firefox 31 */
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
}

/* back, initially hidden pane */
.back {
	background-color: #d02927;
	color: #ffffff;
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
}

.content {
	font-family: "Monaco", monospace, "Roboto", sans-serif;
	line-height: 50px;
	font-size: 55pt;
	text-align: center;
}
