@keyframes flipper {
	0% {
		transform: rotateX(0);
		-webkit-transform: rotateX(0);
	}
	100% {
		transform: rotateX(360deg);
		-webkit-transform: rotateX(360deg);
	}
}

body {
	margin: 0;
	padding: 0;
}

a {
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}


.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}