
body {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	margin-bottom: 48px;
}

@media screen and (max-height: 512px) and (min-aspect-ratio: 1/1) {
	header {
		visibility: hidden;
		height: 0;
		margin: 0;
	}
}

#game {
	margin: auto;
	width: 80%;
	padding-bottom: 80%;
	position: relative;
	display: block;
	background-color: #d086d5;
	transition: 1s;
}

@media screen and (min-aspect-ratio: 1/1) {
	#game {
		margin: auto;
		position: relative;
		width: 80vh;
		display: block;
		padding-bottom: 80vh;
	}
}

#table-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

table {
	width: 100%;
	height: 100%;
}

table, th {
	border-collapse: collapse;
}

th {
	border-style: solid;
	border-width: 8px;	
	border-color: rgba(0,0,0,.0);
}


table tr th:nth-child(-n+2) {
	border-right-color: rgba(0,0,0,.86);
}

table tr:nth-child(-n+2) th {
	border-bottom-color: rgba(0,0,0,.86);
}

.tablecell:hover {
	cursor: pointer;
	background-color: #fcfcfc;
}

.cell {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.cross {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

.cross:before, .cross:after {
	content: "";
	position: absolute;
	height: 100%;
	width: 13%;
	right: 42%;
	background-color: #000000;
}

.cross:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cross:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.circle {
	position: relative;
	margin: auto;
	height: 86%;
	width: 86%;
	top: 7%;
	border-radius: 50%;
	background-color: #000000;
}

.circle:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	height: 74%;
	width: 74%;
	top: 13%;
	left: 13%;
	background-color: #ffffff;
}


/* CSS for the win! */
table:after {
	content: "";
	display: block;
	position: absolute;
	background-color: #d23020;
}

 /* Left top to right bottom */
table.lrdiagonal:after {
	width: 130%;
	height: 5%;
	top: 47.9%;
	left: -15%;
	transform: rotate(45deg);
}

/* Top right to bottom left */
table.rldiagonal:after {
	width: 130%;
	height: 5%;
	top: 47.9%;
	left: -15%;
	transform: rotate(-45deg);
}

/* Horizontal */
table.horizontal:after {
	width: 106%;
	height: 5%;
	left: -3%;
}

table.horizontal.center:after {
	/* Center */
	top: 47.9%;
}

table.horizontal.top:after {
	/* Top */
	top: 15%;
}

table.horizontal.bottom:after {
	/* Bottom */
	top: 81%;
}

/* Vertical */
table.vertical:after {
	width: 106%;
	height: 5%;
	top: 47.9%;
	transform: rotate(90deg);
}

table.vertical.center:after {
	/* Center */
	left: -2.56%;
}

table.vertical.left:after {
	/* Left */
	left: -35.47%;
}

table.vertical.right:after {
	/* Right */
	left: 30.5%;
}


